
<router-outlet></router-outlet>

<head></head>

 
 <div class="row row-cols-1 row-cols-md-3 g-4 activites">

  <div class="col">
    <div class="card h-20">
      <img src="/assets/images/natation.PNG" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="card-title">Cours de Natation</h1>
        <p class="card-text">La natation sportive consiste à parcourir dans une piscine, le plus rapidement possible et dans un style codifié par la Fédération internationale de natation, une distance donnée, sans l'aide d'aucun accessoire. La natation sportive peut être pratiquée à tout âge.</p>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">       
        <button type="button" class="btn-primary btn btn-sm" routerLink= "/natation">S'inscrire</button>
        <button type="button" class="btn-info btn btn-sm" routerLink= "/infosNatation">Plus d'informations</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="/assets/images/aquagym.PNG" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="card-title">Cours d'Aquagym </h1>
        <p class="card-text">L'aquagym est la performance d'un exercice aérobie dans l'eau comme dans une piscine. Fait principalement verticalement et sans nager généralement dans des eaux profondes ou plus profondes, c'est un type d'entraînement en résistance.</p>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">       
        <button type="button" class="btn-primary btn btn-sm" routerLink= "/aquaGym">S'inscrire</button>
        <button type="button" class="btn-info btn btn-sm" routerLink= "/infosAquaGym">Plus d'informations</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="/assets/images/aquabike.PNG" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="card-title">Aquabike</h1>
        <p class="card-text">L'aquabike en tant que pratique sportive enchaînée et gérée par la Fédération internationale de triathlon est un sport dérivé du triathlon. Il enchaîne sans interruption, une partie natation en eaux vives et de cyclisme sur route. Il se pratique sur courte, moyenne et longue distance.</p>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">       
        <button type="button" class="btn-primary btn btn-sm" routerLink= "/aquaBike">S'inscrire</button>
        <button type="button" class="btn-info btn btn-sm" routerLink= "/infosAquaBike">Plus d'informations</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="/assets/images/plongee.PNG" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="card-title">Entrainement Plongée</h1>
        <p class="card-text">La plongée sportive en piscine ou simplement plongée sportive, est un sport qui utilise l'équipement habituel de la plongée sous-marine dans le cadre d'épreuves individuelles ou par équipes réalisées en piscine. Cette discipline sportive permet d'allier les aspects ludiques de la plongée dans un cadre compétitif.</p>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn-primary btn btn-sm" routerLink= "/plongee">S'inscrire</button>
        <button type="button" class="btn-info btn btn-sm" routerLink= "/infosPlongee">Plus d'informations</button>
      </div>
    </div>
  </div>
</div>
  
  <router-outlet></router-outlet>

