<router-outlet></router-outlet>

<div class="container">
    

  <p>Hello</p>


  <div class="row">
      
      <div class="">
         <img src="/assets/images/aquabike.PNG" alt="AquaBike" style="width:20%">
         <h4><b> Séance d'aquabike</b></h4>
         <button routerLink= "/aquaBike">S'inscrire </button>
      </div>
      <div class="">
         <img src="/assets/images/natation.PNG" alt="Natation" style="width:20%">
         <h4><b> Cours de natation</b></h4>
         <button routerLink= "/natation">S'inscrire </button>
      </div>
     </div>
   
 
 
   <div class="row">
       
      <div class="">
         <img src="/assets/images/aquagym.PNG" alt="aquagym" style="width:20%">
         <h4><b> Séance d'aquagym</b></h4>
         <button routerLink= "/aquaGym">S'inscrire </button>
      </div>
      <div class="">
         <img src="/assets/images/plongee.PNG" alt="Natation" style="width:20%">
         <h4><b> Cours de plongee</b></h4>
         <button routerLink= "/plongée">S'inscrire </button>
      </div>
     
   </div>



</div>





