.block {
  display: flex;
  justify-content: center;

}

.login {
  display: inline-block;
  position: relative;
  width: 500px;
  min-width: 600px;
  height: 600px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
  margin: 30px;
  border: solid black 3px;
}


.login-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  bottom: 10%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.titre{
  margin-top: 50px;
}

.form-group{
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
