.block {
    display: flex;
    justify-content: center;
  
  }
  
  
  .login {
    display: inline-block;
    position: relative;
     width: 700px;
    min-width: 600px;
    height: 770px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
    margin: 20px;
    border: solid black 3px;
  }
  
  
  .login-btn {
    color: #fff;
    right: 35px;
    bottom: 10px;
    padding: 4px 4px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 10px 35px 10px 555px;
  }
  
  .login-btn a {
    color: #fff;
  }
  
  .mb-3 {
    margin: 10px;
  }
  
  .piscine{
    font-weight: bold;
  }
  
  
  