<body>
<div class="sideNav"  style="background-color: #f7eeee">
    <div class="logo">
       
     
    </div>
    <ul class="nav">
       
        <aside class="menu">
            <ul class="wrapper">
            <li class="d-grid"><a class="button"  id="affichageButton" routerLink="/"><b>Accueil</b></a></li>
              <li><a class="button"  routerLink="/activites"><b>Activités proposées</b></a></li>
              <li><a class="button"  routerLink="/horaire"><b>Horaires d'ouverture</b></a></li>
             
            </ul>
            <p class="menu-label">
             
            </p>
        

            <ul class="wrapper">
              <li><a class="button" routerLink="/contact"> <b>Contact</b></a></li>
              <li><a class="button" routerLink="/planning"><b>Planning</b></a></li>

              
  
            </ul>
          </aside>
      

    </ul>

</div>