
.sideNav{
  background: #251fd6;
  background: linear-gradient(0deg,rgb(47, 47, 171),rgb(29, 217, 217) 100%)
  /*height: calc (100vh - 90px);*/;
  height: 100%;
  width: 275px;
  display: block;
  transition: 0.2s; /* cubic-bezier(0.685,0.473,0.346,1);*/
  
                 
  }

  .nav li>a {
    margin: 10px 15px 0;
    border-radius: 30px;
color: antiquewhite;
width: 200px;
display: block;
text-decoration: none;
position: relative;
text-transform: uppercase;
cursor: pointer;
font-size: 0.75rem;
font-weight: 300;
padding: 10px 15px;
line-height: 1.5rem;
transition: all 0.3s ease 0s;

  }





 /*.nav li>a i{
 width: 20px;
  margin-right: 10px;
  font-size: 1.125rem;

}


.nav li>a:hover, .nav li>a:hover i{
  color: antiquewhite;
  transition: all 0.3s ease 0s;
}*/




.nav li.active>a::before i{
  content: " ";
  position: absolute;
  height: 6px;
  width: 6px;
  top: 17px;
 
  background: #251fd6;
  border-radius: 50%;
}







#affichageButton{

align-items:center;


}









/*Bouton*/



.wrapper {
    margin: 80px auto;
    text-align: center;
    width: 100%;
    position: relative;
    list-style-type:none;
    
  }
  .wrapper1 {
    margin: 80px auto;
    text-align: center;
    width: 100%;
    position: relative;
    list-style-type:none;
    margin-top: 300px;
    
  }
  .button {
    padding: 15px 20px;
    margin: 10px 4px;
    color: rgb(14, 6, 6);
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    border: 2px solid;
  }
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20%;
    height: 20%;
    z-index: -1;
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
    transition: all 0.4s;
  }
  .button:hover {
    color: #251fd6;
  }
  .button:hover::before {
    opacity: 1;
    background-color: #251fd6;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transition: -webkit-transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity 0.4s;
    transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity;
  }










