.container .image {
  width: 50%;
  float: left;
  
}

img{
  border: 2px solid black;
}
.container img {
  width: calc(100% - (20px * 2));
  margin: 20px;
}

.activites{
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  display: inline-flexbox;
  flex-wrap: wrap;
  align-content: flex-start;
  height: fit-content;
  
}
