.example-container {
    width: 50%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  

  .example-sidenav-content {
    display: flex;
    height:  100%;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
  }
  
  .example-sidenav {
    padding: 200px;
    height:  50px;
   
   
  }

  .row{
    background-image:url("src/assets/images/pexelsPiscine.jpg");
    background-size: 100%;
  }
  


 




 