<p>inscription-activite works!</p>

<!-- <div *ngIf="activite$ | async as activite" class="container">
  <h1>{{activite.nomActivite}}</h1>
 <div *ngIf="activite.nomActivite=='natation'">
    <img src="/assets/images/natation.PNG" class="img" alt="Natation" style="width:50%">
    <p>DESCRIPTION A COMPLETER</p>
  </div>
  <div *ngIf="activite.nomActivite=='aquagym'">
    <img src="/assets/images/aquagym.PNG" class="img" alt="Aquagym" style="width:50%">
    <p>DESCRIPTION A COMPLETER</p>
  </div>
  <div *ngIf="activite.nomActivite=='aquabike'">
    <img src="/assets/images/aquabike.PNG" class="img" alt="AquaBike" style="width:50%">
    <p>DESCRIPTION A COMPLETER</p>
  </div>
  <div *ngIf="activite.nomActivite=='plongee'">
    <img src="/assets/images/plongee.PNG" class="img" alt="Plongée" style="width:50%">
    <p>DESCRIPTION A COMPLETER</p>
  </div>
  <div>
    <p>
      Horaires : de {{activite.horaireDebut}} à {{activite.horaireFin}}
      Prix (hors Abonnement): {{activite.prix}} €
      Places restantes : {{activite.nbrPlaces}}
    </p>
   Ajouter la réservation
  </div> -->
