<h3>Votre inscription a bien été prise en compte.</h3>
<p>Rappel des informations de votre activité :</p>

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h2>Titre en fonction de lactivité choisie avant</h2>
            </div>

            <div class="modal-body">
                <p>Description de l'activité</p>
            </div>

            <div class="modal-footer">
                <button>Retour à la page d'accueil</button>
            </div>
          <div class="modal-header">
        </div>
    </div>
  </div>
</div>