  <div class="block">

    <div class="login">
        
        <div class="login-description-bk"></div>
        <h1 class="titre" style="color:aliceblue;text-align: center ;" ><b>Fiche d'inscription</b></h1>
    
        <form [formGroup]="personneForm" (ngSubmit)="onSave()" style="color: aliceblue;">
          <div class="mb-3">
            <label for="nom" class="form-label"><b>Nom</b></label>
            <input type="text" class="form-control" id="nom" formControlName="nom">
          </div>
          <div class="mb-3">
              <label for="prenom" class="form-label"><b>Prénom</b></label>
              <input type="text" class="form-control" id="prenom" formControlName="prenom">
            </div>
          <div class="mb-3">
            <label for="username" class="form-label"><b>Nom d'utilisateur</b></label>
            <input type="text" class="form-control" id="username" formControlName="username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label"><b>Mot de passe</b></label>
            <input type="password" class="form-control" id="password" formControlName="password">
          </div>
          <div class="mb-3">
            <label for="dateNaissance" class="form-label"><b>Date de naissance</b></label>
            <input type="date" class="form-control" id="dateNaissance" formControlName="dateNaissance">
          </div>
          <div class="mb-3">
              <label for="adresse" class="form-label"><b>Adresse</b></label>
              <input type="text" class="form-control" id="adresse" formControlName="adresse">
            </div>
            <div class="mb-3">
              <label for="telephone" class="form-label"><b>Numéro de téléphone</b></label>
              <input type="text" class="form-control" id="telephone" formControlName="telephone">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label"><b>Adresse mail</b></label>
              <input type="email" class="form-control" id="email" formControlName="email">
            </div>
          
        
      
    
        <div class="login-btn">
            <button type="submit" class="btn btn-bg-transparent" (click)="onSave();alert()" value="Enregister"style="color: rgb(237, 247, 252);">Enregister</button>
           
        </div>
      </form>
    </div>
    </div>