<div class="row" style="height: 600px">
   
  <div class="wrapper1">
    <div class="Info">
        <h2>L’espace piscine</h2>
        <h3>La piscine comprend:</h3>
        <ul><li>Deux bassins olympiques de 50 m x 20 m (8 couloirs)</li>
            <li>Un petit bassin de 25 m x 12,5 m (5 couloirs)</li>
            <li>un plongeoir olympiques</li>
            <li>une patogeoir 12*8 m</li>
            <li>un sauna nordique</li>
        
        
        
        </ul>
    </div>
    </div>





  <div class="tableH">
    <table style="background-color:rgb(141, 196, 241)">
        <label class="labelH" > <b>Ouverture des bassins </b></label>
        <tr>
          <th style="width:50%">Jours</th>
          <th>Periode scholaire</th>
          <th>Hors periode scolaire</th>
        </tr>
        <tr>
          <td>Lundi</td>
          <td><i class="PeriodeScolaire"></i>9h-10h & 17h-19h</td>
          <td><i class="HorsScolaire"></i>9h-13h & 17h-19h</td>
        </tr>
        <tr>
          <td>Mardi</td>
          <td><i class="PeriodeScolaire"></i>9h-10h & 17h-19h</td>
          <td><i class="HorsScolaire"></i>9h-13h &  14h-19h</td>
        </tr>
        <tr>
            <td>Mercredi</td>            <td><i class="PeriodeScolaire"></i>9h-10h & 14h-19h</td>
            <td><i class="HorsScolaire"></i>9h-13h &  14h-19h</td>
          </tr>
          <tr>
            <td>Jeudi</td>
            <td><i class="PeriodeScolaire"></i>9h-10h</td>
            <td><i class="HorsScolaire"></i>9h-13h</td>
          </tr> 
          <tr>
            <td>Vendredi</td>
            <td><i class="PeriodeScolaire"></i>9h-10h & 17h-19h</td>
            <td><i class="HorsScolaire"></i>9h-13h & 14h-19h</td>
          </tr>
          <tr>
            <td>Samedi</td>
            <td><i class="PeriodeScolaire"></i>9h-10h & 17h-19h</td>
            <td><i class="HorsScolairek"></i>9h30 & 19h</td>
          </tr>
          <tr>
            <td>Dimanche</td>
            <td><i class="PeriodeScolaire"></i>9h-10h  17h-19h</td>
            <td><i class="HorsScolaire"></i>9h30-19h</td>
          </tr>
      </table>
    </div>
<router-outlet></router-outlet>